<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="standard_head">
        <a href="/dashboard">Home</a>
        <a href="">New</a>
        <a href="/search">Search</a>
        <a href="/user_info">Account</a>
        <a href="/logout">Sign Out</a>
    </div>
    <div class="content_container">
        <p id="welcome">Welcome {{user.first_name}}!</p>
        <div class="events">
            <h3>Today is date and you have # event today:</h3>
            <table class="event_details">
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Attendees</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>Greenfield Park</td>
                    <td>10</td>
                    <td>1:30 pm</td>
                </tr>
            </table>
        </div>
        <div class="events">
            <h3>Here are your joined future events:</h3>
            <table class="event_details">
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Attendees</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>Greenfield Park</td>
                    <td>10</td>
                    <td>1:30 pm</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>