<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <a href="">Home</a>
    <a href="">New</a>
    <a href="">Search</a>
    <a href="">Account</a>
    <h1>Welcome Bryan!</h1>
    <h3>Today is {date} and you have {#} event today</h3>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Attendees</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Basketball</td>
            <td>Greenfield Park</td>
            <td>10</td>
            <td>1:30 pm</td>
        </tr>
    </table>
    <h3>Here are your joined future events</h3>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Attendees</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Basketball</td>
            <td>Greenfield Park</td>
            <td>10</td>
            <td>1:30 pm</td>
        </tr>
    </table>
</body>
</html>