<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Search</title>
</head>

<body>
    <div class="standard_head">
        <a href="/dashboard">Home</a>
        <a href="">New</a>
        <a href="/search">Search</a>
        <a href="/user_info">Account</a>
        <a href="/logout">Sign Out</a>
    </div>
    <div class="content_container">
        <div id="event_search">
            <form action="" method="post">
                <input type="text" class="search_elements" placeholder="keyword">
                <h2 class="search_elements">Search by:</h2>
                <select name="cars" class="search_elements">
                    <option value="event_name">Event Name</option>
                    <option value="location">Location</option>
                    <option value="date">Date</option>
                    <option value="creator">Creator</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
        <table class="event_details">
            <tr>
                <th>Event Name</th>
                <th>Location</th>
                <th>Attendees</th>
                <th>Date</th>
                <th>Creator</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Basketball</td>
                <td>Greenfield Park</td>
                <td>10</td>
                <td>1/1/2019 1:45pm</td>
                <td>Jim Bob</td>
                <td>Join</td>
            </tr>
        </table>
        <div id="footer">
           <table>
               <td><a href="">1</a></td>
               <td><a href="">2</a></td>
               <td><a href="">3</a></td>
               <td><a href="">...</a></td>
           </table>
        </div>
    </div>
</body>

</html>