<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>User Info</title>
</head>

<body>
    <a href="">Home</a>
    <a href="">New</a>
    <a href="">Search</a>
    <a href="">Account</a>

    <p>Name: Jim Bob</p>
    <p>Email: ;lkajsdf;lkjqwer</p>
    <p>password: *********</p>
    <a href="">Edit</a>

    <p>Event History:</p>
    <p>{{Jinja Info}}</p>

    <p>Future Events:</p>
    <p>{{Jinja Info}}</p>

    <img src="" alt="Profile Pic">
    <button type="submit">Upload</button>
</body>

</html>